body {
    background-color: #101423;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-bottom: 10px;
    display: flex;
    height: 90px;
    align-items: center;
    margin-bottom: 30px;
}

header > img {
    height: 70px;
}

.navegador {
    margin: 20px;
}

header > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.icon {
fill: white;
margin-left: 3px;
margin-top: 5px;
margin-right: 25px;
}

#header-icon-bell {
    margin-left: 55.35%;
}

img {
    margin-left: 20px;
}

#cursos {
    color: rgb(0, 84, 162);
    
}

#cursos-2 {
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
}

container {
    width: 1350px;
    margin: auto;
    display: flex;
    
}



.seja {
    margin-top: 60px;
    color: rgb(216, 212, 255);
    font-size: 18px;
    text-align: center;
    margin-bottom: 200px;
}

#primeira-fileira {
    margin-top: 120px;
    background: none;
    height: 450px;
}

#primeira-fileira > img {
    height: 200px;

}

.item-1 {
    background-color: #2832553d;
    width: 240px; /* Set a fixed width for items */
    height: 400px;
    margin: 30px;/* Margin between items */
    text-align: center; /* Center text inside items */
    border-radius: 8px; /* Optional: rounded corners */
    padding: 20px; /* Optional: padding inside items */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#segunda-fileira {
    margin-top: 50px;
    background: none;
    height: 450px;
    margin-bottom: 100px;
} 

.img{
    width: 200px;
    height: 200px;
    margin: 0px;
    
}

.name-curso {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

.descricao {
    color: rgb(226, 222, 251);
    font-size: 13px;
    text-align: start;
}

.veja-mais {
    text-decoration: none;
    text-align: start;
    color: rgb(0, 84, 162);
    font-weight: 600;
}

#cursos {
    color: #0068A0;
}

#header-icon {
margin-left: 10px;
width: 60px;
}

#arrow-bottom {
    background: none;
    color: white;
    border: none;
    width: 17px;
    margin: 0px;
}

#conteudo {
    margin-top: 200px;
    align-items: center;
    display: flex;
    width: 885px;
    margin: auto;
}


#conteudo-1 {
    margin: auto;
}

#c2 {
    font-size: 20px;
    width: 500px;
    height: 930px;
    flex-shrink: 0;
    background-color: #161b2f68;
    color: white;
    padding: 30px 40px;
    letter-spacing: 2px;
}


#conteudo-2 {
    font-size: 20px;
    align-items: center;
    display: flex;
    width: 320px;
    margin-left: 25%;
    margin-top: -215px;
    text-align: right;
    color: white;
    letter-spacing: 2px;
}

.p1 {
    line-height: 1.8em;
}