<!DOCTYPE html>
{%load static%}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{% static 'css/editar.css' %}"> <!-- Adicione o CSS fornecido no arquivo styles.css -->
</head>
<body>
    <header>
        <img src="{% static 'imagens/logo_completa.educaplus.png' %}" alt="logo-educa-plus">
        <a class="navegador" href="/pag.cursos/cursos.html">Cursos</a>
        <a class="navegador" href="/pag.sobre/sobre.html">Sobre</a>
        <a class="navegador" href="#">EducaUltra</a>
        <a class="navegador" href="#">Forum</a>
        <a id="meu-painel" class="navegador" href="#">Meu painel</a>
        <a id="header-icon-bell" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
          </svg></a>
        <a id="header-icon" href="{% url 'sair' %}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="icon" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg></a>
         
    </header>

    <main>
        <div>
            <h2 id="meu-painel-2">Editar Perfil</h2>
            <form id="edit-form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nome" class="linha-cima">Nome</label>
                    <input type="text" id="nome" name="nome" class="input-field" placeholder="Digite seu nome completo">
                </div>
                <div class="form-group">
                    <label for="data-nascimento" class="linha-cima">Data de Nascimento</label>
                    <input type="date" id="data-nascimento" name="data-nascimento" class="input-field">
                </div>
                <div class="form-actions">
                    <button type="submit" class="sessao" id="salvar">Salvar Alterações</button>
                    <a href="{% url 'painel'%}"><button type="button" class="sessao" id="cancelar">Cancelar</button></a>
                </div>
            </form>
        </div>
    </main>

    <footer id="footer">
        <div id="conteudo-footer">
            <p style="color: white;">© 2024 Sua Plataforma de Estudos</p>
        </div>
    </footer>
</body>
</html>
